<html>
<head>
    <title>Hello</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body style="font-family: 'sans-serif'">
    <h1>Hello World!</h1>
    <p>Today is September 10,2022. It is 9:44 pm. </p>
    <p>Queen Elizabeth died yesterday at 96 years old. </p>
    <p class="font-italic">Have a goodnight.</p>
    <img class="img-thumbnail rounded float-start" src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b6/Queen_Elizabeth_II_in_March_2015.jpg/1200px-Queen_Elizabeth_II_in_March_2015.jpg" alt="Image of Queen Elizabeth"> <br>
    <button type="button" class="btn btn-danger">Click Me World!</button>
    <div class="alert alert-primary" role="alert">
       Alert for the world
    </div>   
</body>
</html>